* {
    margin: 0px;
    padding: 0px;
    color: white;
}
#navbar {
    height:50px;
    background-color:#0f1111;
   
}
button {
    background-color:#f08804 ;
}
#logo {
    color: #f08804;
    font-size: 25px;
}

a {
    height: 60px;
    margin-right: 150px;
    text-decoration: none;
}