body {
    background-color: bisque;
    text-shadow: 0cap;
    
}

h1 {
    color: rgb(223, 41, 141);
    text-decoration: underline;
}

button {
    color: aqua;
    background-color: black;
    border-radius: 50%;
    text-transform: capitalize;
}
